@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

html.dark body {
  background-color: #09090b;
  color: #f4f4f5;
}